*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans',sans-serif;
}


:root{
    --colorDark1:#112D4E;
    --colorDark2:#3F72Af;
    --colorDark3:#DBE2EF;
    --colorDark4:#F9F7F7;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: linear-gradient(160deg,#112d4e 0%,#3f72af 100%);
}
h1{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

.tab-conatiner{
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
   
    
}
.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}
.tab.current-tab{
background-color: rgba(219, 226, 239, 0.5);
border-radius: 4px;
}
.weather-container{
margin-block:4rem ;
}
.btn{
    all: unset;
    text-transform: uppercase;
    font-size: 0.85rem;
    background-color: var(--colorDark2);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;
}
 
.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grant-location-container{
 display: none;  
}

.grant-location-container.active{
    display: flex;   
   }

.grant-location-container img{
    margin-bottom: 2rem;
   }
.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}
.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}


/* loader */
.loading{
    display: none;

}
.loading.active{
    display: flex;
    
}
.loading p{
    text-transform: uppercase;
}
.user-info-container{
    display: none;
}
.user-info-container.active{
    display: flex;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}
.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
}
.user-info-container img{
    height: 50px;
    width: 50px;
}
.name p{
    font-size: 2rem;
}
.name img{
    width: 30px;
    height: 30px;
}
.user-info-container p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}


.parameter-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.parameter{
    width: 30%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(219, 226, 239, 0.5); 
    justify-content: center;
    align-items: center;
    gap: 5px 0;
  
}
.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}
.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}
.form-container{
    display: none;
    
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    gap: 0 10px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    justify-content: center;
    /* align-items: center; */

}
.form-container.active{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
    width: 18rem;
}
.form-container input::placeholder{
    color: rgba(255, 255, 255, 0.7) ;
}
.form-container input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}
.form-container .btn{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

@media only screen and (max-width: 500px) {
    .parameter p:first-of-type{
        font-size: 1.05rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .parameter p:last-of-type{
        font-size: 0.8rem;
        font-weight: 200;
    }
    .form-container input{
        width: calc(100% - 300px);
        height: 25px;
        
    }
    .tab{
       
        font-size: 0.675rem;
        letter-spacing: 1.45px;
    
    }
    h1{
        font-size: 1.5rem;
    }
    .form-container .btn{
        height: 25px;
        width: 25px;
    }
  }
  @media only screen and (max-width: 400px){
    .form-container{
        width: 100%;
    /* max-width: 480px; */
    
    }
    .form-container input{
        width: calc(100% - 200px);
        height: 25px;
        
    }
   
  }

  .showerror{
    display: none;
  }
  .showerror.active{
    display: flex;
    flex-direction: column;
    align-items: center;
  }